{% extends 'base.html'%}

{%block title%}{{post.title}}{%endblock title%}
{%block body%}
<div class="container">
<div class="blog-post my-5">
  <strong class="d-inline-block mb-2 text-danger">{{post.category}}</strong>
        <h2 class="blog-post-title" style="text-transform:capitalize;">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timestamp}} by <span style="color:royalblue;">{{post.author}}</span></p>
         <p>{{post.content|safe}}</p>
           </div>
    
    {%if comments%}
   <h2>Comments:</h2>
    {%for comment in comments%}
  <div class="card w-75 my-2">
  <div class="card-body">
    <h5 class="card-title" style="text-transform:capitalize;">{{comment.author}}</h5>
    <p class="blog-post-meta" style="color:royalblue">{{comment.timestamp}}</p>
    <p class="card-text">{{comment.comment}}</p>
  </div>
</div>
  {%endfor%}
  {%else%}
  <div class="container my-3">
<div class="jumbotron p-4 p-md-5 text-black rounded bg-light">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"><strong>Be the first one to comment 📣</strong></h1>
    </div>
  </div> 
    {%endif%}  
  {% if user.is_authenticated%}
    <form method="post" action="/postcomments/{{post.slug}}">    
    {% csrf_token %}
      <div class="form-group">
    <label for="exampleFormControlTextarea1">Add your comment</label>
    <textarea class="form-control" name="comment" autocomplete="off" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post comment</button>
</form>
{%else %}
   <div class="container my-3">
<div class="jumbotron p-4 p-md-5 text-black rounded bg-light">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"><strong>Login to iBlog to Comment✏✏</strong></h1>
    </div>
  </div> 
{%endif %}
    </div>
{%endblock body%}