{% extends 'base.html'%}

{%block title%}Welcome to iBlog!{%endblock title%}

{%block body%}
{% if messages%}
{% for message in messages%}
<div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
  <strong>Congratulations!</strong> {{message}}.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endfor%}
{%endif%}
<div class="container my-3">
<div class="jumbotron p-4 p-md-5 text-black rounded bg-light">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"><strong>Lorem ipsum dolor sit amet</strong></h1>
      <p class="lead my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet id voluptatem dolores qui laboriosam temporibus itaque neque atque distinctio quam minus, tenetur ipsum possimus eius?</p>
      <p class="lead mb-0"><a href="#" class="text-black font-weight-bold">Continue reading...</a></p>
    </div>
  </div> 
  
    
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block mx-2 my-3">
          <img src="/static/world.jfif">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block mx-2 my-3">
          <img src="/static/design.jfif">
        </div>
      </div>
    </div>
  </div>
  </div>
  {%endblock body%}