{% extends 'base.html'%}

{%block title%}Search Results{%endblock title%}
{%block body%}
<div class="container">

{%if allPosts%}
<h1>Search Results:{{query}}</h1>
{%for post in allPosts%}
<div class="card my-2">
  <div class="card-body">
  <strong class="d-inline-block mb-2 text-danger">{{post.category}}</strong>
    <h5 class="card-title" style="text-transform:capitalize;">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{post.timestamp}}</h6>
    <p class="card-text">{{post.content |truncatechars:100}}</p>
    <a href="blog/{{post.slug}}" class="card-link">Read more</a>
  </div>
</div>
{%endfor%}
{%else%}
<h2 class="my-2">Your search -<strong>{{query}}</strong>-did not match any documents.</h2>
<h3>
Suggestions:
</h3>
<ul>
<li>Make sure that all words are spelled correctly.</li>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
</ul>
{%endif%}
</div>
{%endblock body%}